.footer {
  height: 52px;
  color: #ffffff;
  background: #252b40;

  /*opacity: 0.7;*/
}

footer .p {
  font-family: Segoe UI, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
